@media screen and (max-width: 767px) {
/*======== navbar =========*/
    .navbar {
        transform-origin: 100%;
        z-index: 9999;
        justify-content: center;
        width: auto;
        height: auto;
        position: fixed;
        top: 89%;
        right: -31px;
        transform: translateY(-50%) rotate(90deg);
        transition: 1s;
    }

    .navbar.open {
        right: 0px;
    }

    .menu-icon img {
        transition: all 1s;
        display: block;
        position: absolute;
        top: 62px;
        right: 480px;
        width: 20px;
        transform: rotate(270deg);
    }

    .navbar.open .menu-icon img {
        transform: rotate(90deg);
    }



/*======== archives page =========*/

.swiper-pagination,.sliderarrow {
    display: none; 
}









}